<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>

<body>
    <div>
        <h1>Comment</h1>
        <form method="POST" id="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

    <script>
        const form = document.getElementById('form');
        form.addEventListener('submit', submitHandler);

        function eventHandler(e) {
            e.preventDefault();

            fetch(form.action, {method: 'POST', body: new FormData(form)})
            .then(response => response.json())
            .then(data => {
                if (data.message === 'success') {
                    alert('Success!');
                    form.reset();
                } else {
                    alert('Invalid sumission! Please check your data and submit again.');
                }
            });
        }

    </script>
</body>

</html>