[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = {extras = ["binary"], version = "*"}
django-environ = "*"
mysqlclient = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
