{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
    <h1>Make A Reservation</h1>
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" id="button">
        </form>
      </div>

      <div class="column">
        <h1>Bookings for <span id="bookings-date"></span></h1>
        <pre id="bookings"></pre>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="videowrap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11898.289517452584!2d-87.60853049433447!3d41.79442860243028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2912ce6f7027%3A0xc0cfb5545d4a37b2!2sHyde%20Park%2C%20Chicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2spt!4v1662384760663!5m2!1sen!2spt"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
<!-- Add your code inside the script tags below  -->
<script>
  // form 
  const date = document.getElementById('id_reservation_date').type='date';
  const time = document.getElementById('id_reservation_time').type='time';

  // helper functions
  function prefixWithZero(string, numberOfZeros) {
    var zeros = '';
    for (let i=0; i<numberOfZeros; i++) {
      zeros += '0';
    }
    return zeros + string
  }

  function formatDayOrMonth(DayOrMonthAsString) {
    string_length = DayOrMonthAsString.length;
    if (string_length < 2) {
      return prefixWithZero(DayOrMonthAsString, 1);
    }
    return DayOrMonthAsString;
  }

  // bookings date
  const span = document.getElementById('bookings-date');
  bookingDate = new Date();
  const [day, month, year] = [
    formatDayOrMonth(String(bookingDate.getDate())),
    formatDayOrMonth(String(bookingDate.getMonth() + 1)),
    String(bookingDate.getFullYear()),
  ]
  span.appendChild(document.createTextNode(day + '/' + month + '/' + year));

  //bookings
  const pre = document.getElementById('bookings');
  const p = document.createElement('p');
  var content = document.createTextNode('')

  const parse_content = '{{ bookings|safe }}';
  if (parse_content === 'No Booking') {
    content = document.createTextNode(parse_content);
    pre.appendChild(p.appendChild(content));
  } else {
    const bookings = JSON.parse('{{ bookings|safe }}');

    for (let idx in bookings) {
      let booking_string = '';
      booking_string += bookings[idx]['fields']['first_name'] + ' at ';
      booking_string += bookings[idx]['fields']['reservation_time'] + ' on slot #';
      booking_string += bookings[idx]['fields']['reservation_slot'];

      let p = document.createElement('p');
      p.appendChild(document.createTextNode(booking_string));
      pre.appendChild(p);
    }
  }

</script>
{% endblock %}

